
  
  .main-container1 {
    position: relative;
    width: 1648px;
    height: 596px;
    margin: auto;
  .rectangle1 {
    position: absolute;
    width: 1648px;
    height: 580px;
    top: 16px;
    left: 0;
    background: #ffffff;
    .appointment-doc-img1 {
      position: absolute;
      width: 580px;
      height: 529px;
      top: 0;
      left: 833px;
      background: url(../../../assets/handbook/handbook-bg.png)
        no-repeat center;
      background-size: cover;
      z-index: 5;
    }
  
  .rectangle-1 {
    position: relative;
    width: 1430px;
    height: 455px;
    margin: 58px 0 0 50px;
    font-size: 0px;
    background: #5f6fff;
    z-index: 1;
    overflow: visible auto;
    border-radius: 12px;
  }
  .book-appointment {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 636px;
    height: 180px;
    margin: 92px 0 0 104px;
    color: #ffffff;
    font-family: Outfit, var(--default-font-family);
    font-size: 52px;
    font-weight: 700;
    line-height: 90px;
    text-align: left;
    text-overflow: initial;
    z-index: 6;
    overflow: hidden;
  }
  .button {
    position: relative;
    width: 214px;
    height: 60px;
    margin: 36px 0 0 104px;
    background: #ffffff;
    z-index: 3;
    border-radius: 50px;
  }
  .create-account {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 25px;
    top: 18px;
    left: calc(50% - 68px);
    color: #4b5563;
    font-family: Outfit, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    white-space: nowrap;
    z-index: 4;
  }
  }
}
