.logo-avatar{
    background-image: url("../../../assets/images/logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 44px;
    width: 50%;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    // transform: scale(0.7, 0.7);
}